* {
  margin: 5px;
}

.myContainer {
  margin: 20px auto;
  max-width: 400px;
  max-height: 1000px;
  box-shadow: 0px 0px 3px black;
}

.header {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}

.list ul {
  padding: 15px;
  text-align: center;
  list-style: none;
}

.list ul li {
  box-shadow: 0px 0px 3px black;
  padding: 5px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 25px;
}

.list ul li span {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}

.addTodo {
  padding: 15px;
}

.addTodo h1 {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.addTodo input {
  margin-top: 15px;
}